.main-container{
  margin: 3rem;
}

.inner-container{
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  margin-inline: auto;
}

.box {
  background-color: #ffffff;
  padding-top: 2.3em;
  padding-bottom: 2.3em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 10px;
  color: #000000;
  margin-top: 0 !important;
  position: relative;
}

.logo {
  margin: 3rem;
  text-align: center;
  font-size: xxx-large;
  color: #c41515;
}



label {
  font-weight: bold;
  color: #000000;
  font-size: 0.9em;
  padding-left: 3px;
}

.input-container {
  display: inline-block;
  margin-bottom: 2em;
  margin-inline: 7px;
  text-align: left;
}

input {
  border: 1px solid #D5D6D6;
  box-sizing: border-box;
  border-radius: 5px;
  color: #6d6e70;
  overflow: visible;
  line-height: 22px;
  width: 100%;
  padding: 8px 12px;
}

.button-container {
  display: inline-block;
  width: 45%;
  margin-bottom: 3em;
}

.bt {
  vertical-align: top;
  width: 100%;
  display: inline-block;
  text-align: center;
  font: normal 1em Open Sans, Helvetica, Arial, Sans-Serif;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  white-space: pre;
  border: none;
  border-radius: 5px;
}

.bt:enabled:active {
  opacity: 0.8;
  transform: translateY(2px);
}

.blue {
  background-color: #1298D4;
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato';
  color: #1A1D36;
}

.date {
  text-align: center;
  margin-bottom: 3.5em;
  color: brown;
}

.capitalize {
  text-transform: capitalize;
}

.title {
  text-align: center;
  line-height: initial;
}

.input-container.date-container {
  width: 110px;
}

.input-container.time-container {
  width: 96px;
}

.input-container.timezone-container {
  width: 133px;
}

.input-container.timezone-container2 {
  width: 151px;
}

.container-result {
  text-align: center;
}


